@model MvcApp.Models.UserLoginModel
@{
    ViewBag.Title = "用户登陆";
}

<div class="container">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="control-group">
            <label class="control-label" for="inputEmail">@Html.LabelFor(t => t.UserName) </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.UserName)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">@Html.LabelFor(t => t.PassWord)</label>
            <div class="controls">
                @Html.PasswordFor(t => t.PassWord)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" id="btnSubmit" class="btn">登陆</button>
                <a href="#regModal"  role="button" class="btn" data-toggle="modal">注册</a>
            </div>
        </div>
    }
</div>